body{
	background-color: #d5dcde;
	font-family: sans-serif;
}

.login{
	box-shadow: 0px 20px 30px 10px rgba(31, 22, 64, 0.38);
	padding-bottom: 50px;
	margin-top: 150px;
	margin-left: 250px;
	padding-top: 40px;
	padding-left: 30px;
	padding-right: 30px;
	width: 500px;
	border-radius: 30px;

}