.table{
	box-shadow: 0px 20px 30px 10px rgba(31, 22, 64, 0.38);
	width: 800px;

}

body{
	font-family: sans-serif;
}

hr{
	margin-top: -9px;
	width: 450px;
	border-top: 1px solid #494b50;
}

h1{
	padding-top: 50px;
}

i{
	color: #ffffff;
}

.input{
	margin-bottom: 100px;
}

.bin{
	padding-top: 10px;
}
.navbar{
	box-shadow: 0px 3px 5px 2px rgba(31, 22, 64, 0.38);
}

.container{
	padding-left: 170px;
}

