body{
	
	font-family: sans-serif;
}

.oke{
	background-color: #406f8b;
	box-shadow: 0px 20px 30px 10px rgba(31, 22, 64, 0.38);
	padding-bottom: 50px;
	margin: auto;
	margin-top: 50px;
	margin-bottom: 50px;
	padding-top: 40px;
	padding-left: 100px;
	padding-right: 100px;
	width: 1000px;
	border-radius: 20px;


}